#header {
    height: 100px;
    background-color: antiquewhite;
    position: relative;

}
.logout {
    position: absolute;
    right: 20px;
    bottom: 35%;
    padding: 5px 10px;
    border: 1px solid #000;
}
a {
    text-decoration: none;
    color: #000;
}
.site-title {
    text-align: center;
    line-height: 100px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;

}

.page-title {
    text-align: center;
    margin: 30px 0;
}
.search-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    
}

.item
 {
   
    padding: 10px 20px; 
    border: 1px solid #000;
}

.site-title {
    text-align: center;
    line-height: 100px;
}


.page-title {
    text-align: center;
    margin: 30px 0;
}

.search-input {
    /* padding: 10px; */
    /* border: 1px solid #000; */
    width: 400px;
}
.flex-item {
    display: flex;
    justify-content: space-between;
}
/*pagination=========================================*/
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}
.pagination li:not(.active) {
    border: 1px solid #e0dfde;
    padding: 4px 12px;
}
.pagination li:not(:last-child) {
    border-right: none;
}
.pagination a {
    text-decoration: none;
}
.pagination-link {
    text-decoration: none;
}
.active {
    padding: 4px 12px;
    border:  1px solid #8B7969;
    background-color: #8B7969;
    color: #fff;
}
/*================================================*/
table {
    margin: 30px 0;
    border: 1px solid #000;
    border-collapse: collapse;
}
th {
    background-color: aqua;
    padding: 10px 20px;
    border-bottom: 1px solid #000;
    text-align: left;
}
td {
    padding: 10px 20px;
    text-align: left;
    border-bottom: 1px solid #000;
}
/*=============================================*/
.modal {
    position: fixed;
    inset: 0;
    /* background:rgba(0, 0, 0,0.5); */
}
.hidden {
    display: none;
}
.modal-content {
    border: 1px solid #000;
    width: 600px;
    /* height:500px; */
    margin: 100px auto;
    background-color: #fff;
    padding: 100px 50px;
    position: relative;
}
.modal-content dl {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.modal-content dt {
    width: 50%;
    margin-bottom: 20px;
}
.modal-content dd {
    width: 50%;
    margin-bottom: 20px;
    
}
.delete {
    position: absolute;
    left: 45%;
    bottom: 30px;
    border: 1px solid red;
    background-color: red;
    color: #fff;
    padding: 5px 10px;
}
.close {
    position: absolute;
    top: 30px;
    right: 30px;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 0 10px 5px;
    /* padding-bottom: 5px; */
    width: 30px;
    height: 30px;
}