#header {
    
    position: relative;

}
.logout {
    font-size: 1.25rem;
    color: #d9c6b5;
    position: absolute;
    right: 95px;
    bottom: 35%;
    width: 100px;
    height: 34px;
    
    border: 1px solid #d9c6b5;
}
a {
    text-decoration: none;
    color: #000;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;

}


.search-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    
}
.age {
    background-color: #f4f4f4;
    font-size: 1.375rem;
    color:#8B7969;
    width: 102px;

}
.item
 {
   background-color: #FBFBFB;
     padding: 13px 11px;  
    border: 1px solid #E3DED9;
}
.contact-item ,
.date{
    font-size: 1.0625rem;
    color: #beb1a6;
}
.contact-item {
    width: 223px;
}
.date {
    width: 148px;
}


.search-input {
    /* padding: 10px; */
    /* border: 1px solid #000; */
    width: 347px;
    color: #beb1a6;
    font-size: 1rem;
}
.search-btn,
.reset-btn {
    font-size: 1.125rem;
    width: 102px;
    color: #fff;
    
}
.search-btn {
    background-color: #82756a;
}
.reset-btn {
    background-color: #d9c6b5;
}
.flex-item {
    display: flex;
    justify-content: space-between;
}
.export {
    width: 148px;
    /* padding: 8px 20px; */
    font-size: 1.125rem;
    color: #8B7969;
    background-color: #E1DBD699;
}
/*pagination=========================================*/
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}
.pagination li:not(.active) {
    border: 1px solid #e0dfde;
    padding: 4px 12px;
}
.pagination li:not(:last-child) {
    border-right: none;
}
.pagination a {
    text-decoration: none;
}
.pagination-link {
    text-decoration: none;
}
.active {
    padding: 4px 12px;
    border:  1px solid #8B7969;
    background-color: #8B7969;
    color: #fff;
}
/*================================================*/
table {
    margin: 30px 0 48px;
    border: 1px solid #e0dfde;
    border-collapse: collapse;
}
th {
    background-color: #8B7969;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 18px 20px 15px;
    border: 0;
    /* border-bottom: 1px solid #000; */
    text-align: left;
}
td {
    font-size: 1.25rem;
    color: #8B7969;
    font-weight: 400;
    padding: 24px 20px 31px;
    text-align: left;
    border-bottom: 1px solid #e0dfde;
}
.detail-link {
    font-size: 1.125rem;
    width: 76px;
    height: 39px;
    color: #d9c6b5;
    background-color:#F4F4F44D;
    border: 1px solid #d9c6b5;
    padding: 8px 5px;
}
/*=============================================*/
.modal {
    position: fixed;
    inset: 0;
    /* background:rgba(0, 0, 0,0.5); */
}
.hidden {
    display: none;
}
.modal-content {
    border: 1px solid #000;
    width: 605px;
     height:620px; 
    margin: 100px auto;
    background-color: #fff;
    padding: 70px 50px 50px;
    position: relative;
}
.modal-content dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    /* padding-left: 60px; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
}
.modal-content dt {
    display: inline-block;
    width: 50%;
    margin-bottom: 20px;
    /* font-size: 1.25rem; */
    font-weight: 700;
    padding-left: 30px;
    
}
.modal-content dd {
    width: 50%;
    margin-bottom: 20px;
    /* font-size: 1.25rem; */
    font-weight: 400;
    
}
.modal-content dt,
.modal-content dd {
    margin: 0;
}

.delete {font-size: 1.125rem;
    position: absolute;
    left: 45%;
    bottom: 50px;
    /* border: 1px solid #BA370D; */
    background-color: #BA370D;
    color: #fff;
    padding: 8px 20px;
    border: 0;
}
.close {
    position: absolute;
    top: 30px;
    right: 30px;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 0 10px 5px;
    /* padding-bottom: 5px; */
    width: 30px;
    height: 30px;
}