body {
    font-family: 'Inika',sans-serif;
    font-weight: 400;
    color: #8b7969;
    background-color: #fff;
}
#header {
    height: 100px;
    
    border-bottom:1px solid #e0dfde;

}
.site-title {
    text-align: center;
    line-height: 100px;
    font-weight: 400;
    font-size: 2.5rem;
    
}
.page-title {
    text-align: center;
    font-size: 2.1875rem;
    font-weight: 400;
}