#header {
    height: 100px;
    background-color: antiquewhite;

}
.site-title {
    text-align: center;
    line-height: 100px;
}
.wrapper {
    max-width: 900px;
    margin: 0 auto;
   
}
.form-group,
.form-item,
.form-select {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 30px 0;
}
.page-title {
    text-align: center;
}
.tab {
    grid-column: 1/2;
}

.name {
    display: flex;
    
}
input {
    padding: 10px;
}
.name-input {
    /* margin-right: 20px; */
    width: calc((100% - 20px) /2);
}
.tel {
    display: flex;
}
.tel-input {
    width: calc(100%/3);
}
.error {
    grid-column: 2/3;
    color: red;
}
.to-confirm {
   /* grid-column: 2/3; */
    width: 80px;
    margin: 30px 408px;
}