.wrapper {
    max-width: 900px;
    margin: 0 auto;
   
}
.form-group,
.form-item,
.form-select {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 30px 0;
}

.tab {
    grid-column: 1/2;
    font-size: 1.25rem;
}
span {
    color: #ff9494;
}

.name {
    display: flex;
    gap:20px;
    
}
input ,
.select-box
{
    padding: 10px 33px;
    font-size: 0.875rem;
    background-color: #f4f4f4;
    border: none;
    color: #beb1a6;
}
.name-input {
    width: calc((100% - 40px) /2);
}

.tel {
    display: flex;
}
.tel span {
    padding: 6px 16px;
    color: #beb1a6;
}
.tel-input {
    width: calc(100%/3);
    text-align: center;
}




textarea {
    height: 130px;
    padding: 10px 33px;
    font-size: 0.875rem;
    background-color: #f4f4f4;
    border: none;
    color: #333;
}

input::placeholder,
textarea::placeholder {
    color: #beb1a6 !important;
    /* opacity: 1 !important; */
}
.error {
    grid-column: 2/3;
    color:#ff9494;
}
.to-confirm {
    grid-column: 2/3; 
     width: 160px; 
    margin: 50px 66px 33px;
    font-size: 1.25rem;
    background-color: #82756A;
    color: #fff;
    padding: 10px 40px;
}