.to-login a {
    font-size: 1.25rem;
    color: #d9c6b5;
    
    text-decoration: none;
   
}
.to-login {
    position: absolute;
    right: 95px;
    bottom: 35%;
    width: 100px;
    height: 34px;
     border: 1px solid #d9c6b5;
    background-color: #f0f0f0;
    text-align: center;
}
.content {
    background-color: #F1ECE7;
    padding-bottom: 74px;
}
.wrapper {
    max-width: 736px;
    margin: 0 auto ;
    background-color: #fff;
    border: 1px solid #c5b9b0;
    border-radius: 10px;
    padding: 98px 0 89px;
    text-align: center;

}
.tab {
    font-size: 25px;
    display: block;
    color: #8b7969;
    margin-bottom: 14px;
    text-align: left;
    padding-left: 146px;
}
.name,
.email,
.password {
    width: 445px;
     height:55px;
     background-color: #f4f4f4;
     border: 0;
     margin-bottom: 47px;
     font-size: 0.875rem;
     padding-left: 26px;
}
.btn {
    margin-top: 48px;
    font-size: 1.25rem;
    color: #fff;
    padding: 10px 40px;
    background-color: #82756a;
    border: 0;
   
}
.error {
    color: #ff9494;
    margin: 0;
}